@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    opacity: 1;
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    opacity: 1;
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes movetop {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  80% {
    opacity: 1;
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 90em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 2rem;
  font-family: 'lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #55c57a;
  color: #fff; }

.header__text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .header__text--main {
    backface-visibility: hidden;
    margin-bottom: 6rem; }
    .header__text--main span {
      color: #fff;
      text-transform: uppercase;
      display: block; }
  .header__text--main span:nth-child(1) {
    font-size: 6rem;
    letter-spacing: 3.5rem;
    animation: moveLeft 1s ease-in-out; }
    @media (max-width: 37.5em) {
      .header__text--main span:nth-child(1) {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .header__text--main span:nth-child(2) {
    font-size: 2rem;
    letter-spacing: 1.7rem;
    font-weight: 700;
    animation: moveRight 1s ease-in-out; }
    @media (max-width: 37.5em) {
      .header__text--main span:nth-child(2) {
        letter-spacing: 0.5rem; } }

.heading__primary {
  font-size: 2.3rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: transform 0.2s; }
  @media (max-width: 56.25em) {
    .heading__primary {
      font-size: 2.1rem; } }
  @media (max-width: 37.5em) {
    .heading__primary {
      font-size: 1.7rem; } }
  .heading__primary:hover {
    transform: skew(15deg, 2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.5rem; }

.paragraph {
  font-size: 1.5rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.heading {
  margin-bottom: 8rem; }
  @media (max-width: 37.5em) {
    .heading {
      margin-bottom: 3rem; } }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-small {
  margin-top: 4rem; }

.fa {
  font-size: 8rem;
  margin-bottom: 4rem;
  color: transparent;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text; }

hr {
  border: 0.5px solid #999;
  margin-bottom: 2rem; }

.composition {
  position: relative; }
  .composition__photo {
    width: 45%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute; }
    .composition__photo--p1 {
      top: 0;
      left: 0; }
    .composition__photo--p2 {
      top: 2rem;
      left: 40%; }
      @media (max-width: 37.5em) {
        .composition__photo--p2 {
          top: 0;
          left: 60%; } }
    .composition__photo--p3 {
      top: 8rem;
      left: 20%; }
      @media (max-width: 37.5em) {
        .composition__photo--p3 {
          top: 2rem;
          left: 30%; } }
    .composition__photo:hover {
      outline: 1.5rem solid #55c57a;
      outline-offset: 2rem;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 100px;
  transition: transform 0.2s ease-in;
  position: relative;
  border: none;
  cursor: pointer; }
  .btn:hover, .btn:link:hover, .btn:visited:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:active, .btn:focus, .btn:link:active, .btn:link:focus, .btn:visited:active, .btn:visited:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn::after, .btn:link::after, .btn:visited::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s ease-in-out;
    opacity: 1; }
  .btn:hover::after, .btn:link:hover::after, .btn:visited:hover::after {
    transform: scale(1.5, 1.7);
    opacity: 0; }

.btn--animation {
  animation: movetop 0.5s 0.75s ease-out both; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #55c57a;
  color: #fff;
  font-size: 1.5rem; }
  .btn--green::after {
    background-color: #55c57a; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  padding: 3px;
  border-bottom: 1px solid #55c57a;
  transition: transform 0.2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2 rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.2; }
  .bg-video video {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  margin-top: -3rem; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    border-bottom: 3px solid #55c57a; }
  .form__input::placeholder {
    color: #999; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }

.form__label {
  font-size: 1.3rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.5rem;
  display: block;
  transition: opacity 0.3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translatey(-4rem); }

.form .radio_input__group {
  display: inline-block;
  font-size: 1.6rem;
  margin-left: 4rem; }

.form__radio-input {
  display: none; }

.form__radio-label {
  margin-left: 2rem;
  cursor: pointer;
  position: relative; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #55c57a;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  left: -4rem; }
  .form__radio-button::after {
    content: '';
    height: 1rem;
    width: 1rem;
    background-color: #55c57a;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opcity 0.2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.card {
  perspective: 160rem;
  -moz-perspective: 160rem;
  text-align: left;
  position: relative;
  height: 55rem; }
  @media (max-width: 75em) {
    .card {
      height: 50rem;
      margin-bottom: 20rem; } }
  .card__side {
    height: 55rem;
    transition: transform 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    overflow: hidden; }
    @media (max-width: 75em) {
      .card__side {
        position: static; } }
    .card__side--front {
      background-color: #fff; }
      @media (max-width: 75em) {
        .card__side--front {
          height: 50rem;
          position: static; } }
    .card__side--back {
      transform: rotateY(180deg);
      text-transform: uppercase;
      color: #fff;
      text-align: center; }
      @media (max-width: 75em) {
        .card__side--back {
          transform: rotateY(0);
          height: 20rem; } }
      .card__side--back-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        .card__side--back-text p:nth-child(1) {
          font-size: 1.4rem; }
        .card__side--back-text p:nth-child(2) {
          font-size: 6rem;
          font-weight: 100;
          margin-bottom: 6rem; }
          @media (max-width: 75em) {
            .card__side--back-text p:nth-child(2) {
              font-size: 4rem;
              margin-bottom: 1.7rem; } }
      .card__side--back-1 {
        background: linear-gradient(to bottom right, #ff7730, #ffb900); }
      .card__side--back-2 {
        background: linear-gradient(to bottom right, #28b485, #7ed56f); }
      .card__side--back-3 {
        background: linear-gradient(to bottom right, #5643fa, #2998ff); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
    @media (max-width: 75em) {
      .card:hover .card__side--front {
        transform: rotateY(0); } }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to bottom right, #ff7730, #ffb900), url(../img/nat-5.jpg);
      background-position: 50% 20%; }
    .card__picture--2 {
      background-image: linear-gradient(to bottom right, #7ed56f, #28b485), url(../img/nat-6.jpg);
      background-position: center; }
    .card__picture--3 {
      background-image: linear-gradient(to bottom right, #2998ff, #5643fa), url(../img/nat-7.jpg);
      background-position: center; }
  .card__heading {
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    text-align: right;
    position: absolute;
    top: 15rem;
    right: 2rem;
    width: 45%;
    margin-right: 3rem; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to bottom right, rgba(255, 119, 48, 0.85), rgba(255, 185, 0, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to bottom right, rgba(40, 180, 133, 0.85), rgba(126, 213, 111, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to bottom right, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 4rem 3rem; }
    .card__details ul {
      list-style: none;
      width: 90%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }

.header {
  height: 95vh;
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg) top/cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  @media (max-width: 37.5em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      position: relative; } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
    .header__logo-box img {
      height: 3.5rem; }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem; }
  @media (max-width: 37.5em) {
    .footer {
      display: grid;
      grid-template-columns: 1fr;
      padding: 5rem 0;
      font-size: 1rem; } }
  .footer__logo-box {
    text-align: center; }
  .footer__logo {
    width: 15rem;
    height: auto; }
    @media (max-width: 37.5em) {
      .footer__logo {
        width: 10rem; } }
  .footer__item {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    @media (max-width: 56.25em) {
      .footer__item {
        grid-template-columns: 1fr;
        text-align: center; } }
    .footer__item .footer__item-navigation,
    .footer__item .footer__copyright {
      padding: 2rem 6rem;
      color: #f7f7f7; }
      @media (max-width: 37.5em) {
        .footer__item .footer__item-navigation,
        .footer__item .footer__copyright {
          padding: 2rem 1rem; } }
    .footer__item .footer__item-navigation {
      margin: 0 auto; }
  .footer-list {
    list-style: none;
    display: flex; }
    .footer-list__item:not(:last-child) {
      padding-right: 3rem;
      min-width: 12rem; }
      @media (max-width: 37.5em) {
        .footer-list__item:not(:last-child) {
          min-width: 1rem; } }
    .footer-list__link, .footer-list__link:visited, .footer-list__link:link {
      color: #f7f7f7;
      text-decoration: none;
      text-transform: uppercase; }
    .footer-list__link:hover, .footer-list__link:active {
      color: #55c57a;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 4rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 200;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 4.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 100;
  transition: transform 0.8s cubic-bezier(0.67, -0.33, 0.12, 1.26); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 150;
  opacity: 0;
  width: 0;
  transition: all 0.8s; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item {
  line-height: 750%; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.3rem 5rem;
  border-radius: 3px;
  background: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all 0.5s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(50); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.3rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: '';
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 300;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s; }
  .popup__close:link, .popup__close:visited {
    color: #777;
    top: 1rem;
    right: 2.5rem;
    font-size: 4rem;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    transition: all 0.2s; }
  .popup__close:hover {
    color: #55c57a; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1000px;
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    overflow: hidden;
    opacity: 0;
    transform: scale(0.5) translate(-50%, -50%);
    transition: transform 1s 0.2s, opacity 4s 0.2s; }
    @media (max-width: 37.5em) {
      .popup__content {
        width: 100%; } }
    @media (max-width: 75em) {
      .popup__content {
        grid-template-columns: 1fr; } }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%); }
  .popup__right {
    padding: 5rem; }
    @media (max-width: 75em) {
      .popup__right {
        order: -1;
        padding: 3rem 5rem; } }
    @media (max-width: 37.5em) {
      .popup__right {
        padding: 3rem 2.5rem; } }
  @media (max-width: 75em) {
    .popup__left {
      display: grid;
      grid-template-columns: 1fr 1fr; } }
  .popup__img {
    display: block;
    width: 100%;
    object-position: center;
    object-fit: cover; }
    @media (max-width: 75em) {
      .popup__img {
        object-position: center;
        object-fit: contain; } }
  .popup__first {
    object-position: center;
    object-fit: cover; }
  .popup__text {
    font-size: 1.4rem;
    column-count: 2;
    column-gap: 3rem;
    column-rule: 1px solid #eee;
    hyphens: auto; }

.about {
  background-color: #f7f7f7;
  padding: 25rem 3rem;
  margin-top: -20vh;
  text-align: center; }
  @media (max-width: 56.25em) {
    .about {
      padding: 22rem 3rem; } }
  @media (max-width: 37.5em) {
    .about {
      padding: 21rem 3rem; } }
  .about__text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    grid-gap: 5rem;
    text-align: left;
    margin-left: 10rem; }
    @media (max-width: 37.5em) {
      .about__text {
        margin-left: 1rem; } }
    @media (max-width: 56.25em) {
      .about__text--img {
        min-height: 30rem; } }
    @media (max-width: 37.5em) {
      .about__text--img {
        min-height: 10rem; } }
    @media (max-width: 56.25em) {
      .about__text {
        grid-template-columns: 1fr;
        grid-gap: 3rem; } }

.tours {
  background-color: #f7f7f7;
  padding: 25rem 3rem 15rem 3rem;
  margin-top: -9rem;
  text-align: center; }
  @media (max-width: 75em) {
    .tours {
      padding: 25rem 0 15rem 0; } }
  @media (max-width: 37.5em) {
    .tours {
      padding: 17rem 0 15rem 0; } }
  .tours__card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 7rem; }
    @media (max-width: 75em) {
      .tours__card {
        grid-gap: 1rem; } }
    @media (max-width: 56.25em) {
      .tours__card {
        grid-template-columns: 1fr;
        grid-gap: 3rem; } }

.stories {
  text-align: center;
  padding: 6rem;
  position: relative; }
  @media (max-width: 37.5em) {
    .stories {
      padding: 6rem 0; } }
  .stories__story {
    width: 75%;
    max-width: 750px;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    padding: 6rem;
    display: flex;
    text-align: left;
    transform: skewX(-12deg);
    backface-visibility: hidden;
    margin-bottom: 8rem; }
    @media (max-width: 37.5em) {
      .stories__story {
        width: 100%;
        transform: skewX(0deg);
        margin-bottom: 2rem; } }
    .stories__story > * {
      transform: skewX(12deg); }
      @media (max-width: 37.5em) {
        .stories__story > * {
          transform: skewX(0deg); } }
    .stories__story--text {
      width: 100%; }
      .stories__story--text .circle {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        shape-outside: circle(50%);
        float: left;
        margin-right: 3rem;
        position: relative;
        overflow: hidden; }
        @media (max-width: 37.5em) {
          .stories__story--text .circle {
            width: 100%;
            border-radius: 3px;
            shape-outside: none; } }
        .stories__story--text .circle img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
          transition: transform 0.5s; }
          @media (max-width: 37.5em) {
            .stories__story--text .circle img {
              border-radius: 3px;
              padding-bottom: 2rem;
              object-position: 0 42%; } }
        .stories__story--text .circle__paragraph {
          font-size: 2rem;
          color: #fff;
          position: absolute;
          top: 50%;
          left: 55%;
          transform: translate(-50%, 20%);
          text-transform: uppercase;
          opacity: 0;
          transition: transform 0.5s, opacity 0.5s; }
    .stories__story:hover .circle__paragraph {
      opacity: 1;
      transform: translate(-50%, -50%); }
    .stories__story:hover .circle img {
      transform: scale(1.2);
      filter: blur(3px) brightness(80%); }

.booking-section {
  padding: 15rem;
  background: linear-gradient(to right bottom, #7ed56f, #28b485); }
  @media (max-width: 56.25em) {
    .booking-section {
      padding: 0; } }

.book {
  max-width: 1000px;
  width: 100%;
  background: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg) center/cover no-repeat;
  height: 50rem;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }
  @media (max-width: 56.25em) {
    .book {
      background: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 75%, transparent 75%), url(../img/nat-10.jpg) center/cover no-repeat; } }
  .book__form {
    width: 50%;
    padding: 6rem; }
    @media (max-width: 56.25em) {
      .book__form {
        width: 80%;
        padding: 6rem 2rem 2rem 6rem; } }
    .book__form h2 {
      font-size: 3rem; }
    .book__form .input__group:not(:last-child) {
      margin-bottom: 2rem; }
  .book .radio_input__group {
    padding: 0.5rem; }
  .book .btn {
    display: block; }

.feature {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 100%;
  grid-gap: 5rem;
  text-align: left;
  align-items: baseline;
  padding: 20rem 10rem;
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg) top/cover;
  transform: skewY(-7deg);
  margin-top: -9rem; }
  @media (min-width: 90em) {
    .feature {
      padding: 20rem 3rem; } }
  @media (max-width: 75em) {
    .feature {
      padding: 20rem 3rem;
      grid-gap: 1rem; } }
  @media (max-width: 56.25em) {
    .feature {
      grid-template-columns: 1fr;
      grid-gap: 3rem; } }
  @media (max-width: 37.5em) {
    .feature {
      padding: 10rem 0rem; } }
  .feature__card {
    transform: skewY(7deg);
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 3rem;
    border-radius: 0.5rem;
    transition: transform 0.3s;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    min-width: 18rem;
    width: 100%; }
    @media (min-width: 90em) {
      .feature__card {
        max-width: 40rem; } }
    .feature__card:hover {
      transform: translateY(-1.5rem) scale(1.03) skewY(7deg);
      box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.3); }
