.footer {
  background-color: $color-grey-super-darker;
  padding: 10rem 0;
  font-size: 1.4rem;

  @include respond(phone) {
    display: grid;
    grid-template-columns: 1fr;
    padding: 5rem 0;
    font-size: 1rem;
  }

  &__logo-box {
    text-align: center;
  }

  &__logo {
    width: 15rem;
    height: auto;

    @include respond(phone) {
      width: 10rem;
    }
  }
  &__item {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include respond(tab-port) {
      grid-template-columns: 1fr;
      text-align: center;
    }

    .footer__item-navigation,
    .footer__copyright {
      padding: 2rem 6rem;
      color: $color-grey-light-1;

      @include respond(phone) {
        padding: 2rem 1rem;
      }
    }

    .footer__item-navigation {
      margin: 0 auto;
    }
  }
  &-list {
    list-style: none;
    display: flex;

    &__item:not(:last-child) {
      padding-right: 3rem;
      min-width: 12rem;

      @include respond(phone) {
        min-width: 1rem;
      }
    }

    &__link {
      &,
      &:visited,
      &:link {
        color: $color-grey-light-1;
        text-decoration: none;
        text-transform: uppercase;
      }

      &:hover,
      &:active {
        color: $color-primary;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
      }
    }
  }
}
