.composition {
  position: relative;
  &__photo {
    width: 45%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;

    &--p1 {
      top: 0;
      left: 0;
    }
    &--p2 {
      top: 2rem;
      left: 40%;

      @include respond(phone) {
        top: 0;
        left: 60%;
      }
    }

    &--p3 {
      top: 8rem;
      left: 20%;

      @include respond(phone) {
        top: 2rem;
        left: 30%;
      }
    }

    &:hover {
      outline: 1.5rem solid $color-primary;
      outline-offset: 2rem;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
