.book {
  max-width: 1000px;
  width: 100%;
  background: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg) center/cover no-repeat;
  height: 50rem;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);

  @include respond(tab-port) {
    background: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 75%,
        transparent 75%
      ),
      url(../img/nat-10.jpg) center/cover no-repeat;
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(tab-port) {
      width: 80%;
      padding: 6rem 2rem 2rem 6rem;
    }

    h2 {
      font-size: 3rem;
    }

    .input__group:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  .radio_input__group {
    padding: 0.5rem;
  }

  .btn {
    display: block;
  }
}
